.app-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
}

.app-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 1110px;
}

.heading {
  color: #1e293b;
  font-family: 'Bree serif';
  font-size: 40px;
  margin-top: 64px;
  margin-bottom: 48px;
}

.search-input {
  display: flex;
  height: 40px;
  background-color: transparent;
  width: 550px;
  border: 1px solid transparent;
  outline: none;
}

.search-input-container {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  width: 100%;
  max-width: 550px;
  border-radius: 4px;
  border: 1px solid #7b8794;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 0px;
}

.tabs-list {
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  margin-top: 32px;
}

.apps-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  padding-left: 0px;
}

.search-icon {
  height: 40px;
  width: 40px;
  margin-left: 225px;
}
